#buttonCreate{
    text-decoration: none;
    background-color: #0184a9 ;
    color: white;
    margin-top: 80px;
    margin-left: 50px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 20px;
   
}

#linkCreate{
    text-decoration: none;
    background-color: #0184a9 ;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 110px;
    width: 200px;
    height: 150px;
}

#guest1{
    margin-top: 70px;
    margin-left: 50px;
}

#buttonBackAdmin{
    
    font-weight: bold;
    color: white;
    height: 25px;
    width: 70px;
    background-color:#0184a9;
    border-radius: 10px;
    border: none;
    margin: 10px;
    margin-top: 100px;
    margin-left: 50px;
    cursor: pointer;
}