#infoButton{
    
    color: red;
    font-weight: bold;
}

#titulo{
    text-decoration: none;
}

#cardAction{
    box-shadow: #d2d2d2 0px -50px 36px -28px inset;
   
}

#tittleCard{
    font-size: 10px;
}

#card{
    width: 400px;
    margin-top: 15px;
    margin-left: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;

}

#imgCard{
    overflow: hidden;
}

#titleCheckoutPage{
    font-size: 20px;
    font-weight: bold;
}

#imgCheckout{
    width: 300px;
}

#checkoutCard{
    float: left;
    width: 400px;
    height: 500px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    cursor: pointer;
}

#detalleCheck li{
    font-size: 13px;
    
}



#buttonBackCheckout{
    font-weight: bold;
    color: white;
    height: 25px;
    width: 70px;
    background-color:#0184a9;
    border-radius: 10px;
    border: none;
    margin: 10px;
    margin-top: 100px;
    cursor: pointer;
    font-size: 15px; 
	font-weight: bold; 
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}





@media(max-width: 600px){
    #card{
       margin-left: 100px;
    }  
}

#detalleCheckout{
    font-size: 10px;
}

@media(max-width: 487px){
    #card{
       margin-left: 50px;
    }  
}

