
#buttonBack{

    font-weight: bold;
    color: white;
    height: 25px;
    width: 70px;
    background-color:#0184a9;
    border-radius: 10px;
    border: none;
    margin: 10px;
    margin-top: 100px;
    margin-right: 100px;
    cursor: pointer;
    
    
}


#mainContainer{
    margin-top: 80px;
    margin-left: 20%;
    padding: 20px;
    height: 500px;
    width: 800px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#mainImg{
    
}

#imgProduc{
    margin-top: 20px;
    margin-right: 60px;
    height: 300px;
    float:left
}

#dataContainer{
    text-align: left;
    width: 500px;
    background-color: white;
    
}

ul{
    text-align: left;
    margin-top: 40px;
}

ul li{
    list-style-type: disc;
    font-size: 20px;
}