#appBarDash{
    background-color: #0184a9;
}

#buttonDasboard{
    color:white;
    border: solid 1px white;
    float: left;
    margin-left: 10px;
<<<<<<< HEAD
    float: left;
=======
>>>>>>> 4aae1947c492933f8791966e1cd6a8a92f8b8663
}

#logoDashboard{
    margin-top: 5px;
    height: 30px;
<<<<<<< HEAD
}

#Ecopy{
    margin-left: 200px;
=======
>>>>>>> 4aae1947c492933f8791966e1cd6a8a92f8b8663
}