#appBarDash{
    background-color: #0184a9;
}

#buttonDasboard{
    color:white;
    border: solid 1px white;
    float: left;
    margin-left: 10px;
    float: left;
}

#logoDashboard{
    margin-top: 5px;
    height: 30px;
}

#Ecopy{
    margin-left: 200px;
}