#footer{
    height: 200px;
    background-color: #0184a9;
}


#LinksFooterAll{
    margin-top: 10px;
    margin-right: 30px;
   
}


<<<<<<< HEAD
#contactFooter a{
=======
#contactFooter button{
>>>>>>> 32c2c85d4e43ed2b86dce9e9f17547f5c37df5c4
    align-items: flex-end;
    margin-right: 10px;
    font-size: 15px;
}
<<<<<<< HEAD
=======

#footerCopy{
    margin-left: 44%;
}
>>>>>>> 32c2c85d4e43ed2b86dce9e9f17547f5c37df5c4
