

#boxLanding{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/banner1.jpg);
    height: 950px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #fff;

}

#logoL{
<<<<<<< HEAD
    padding-top: 200px;
    height: 80px;
=======
    padding-top: 230px;
    height: 120px;
>>>>>>> 4aae1947c492933f8791966e1cd6a8a92f8b8663
    margin-right: 678px;

}

#iconLanding{
    height: 70px;
}



#textBoxL2{
    font-style: italic;
    text-align: left;
    padding-top: 7px;
    margin-left: 125px;
    margin-right: 770px;
<<<<<<< HEAD
    font-size: 14px;
=======
    font-size: 18px;
>>>>>>> 4aae1947c492933f8791966e1cd6a8a92f8b8663
}

#buttonsLanding{
    display: flex;
    align-items: flex-end;
    margin-top: -38px;
    margin-left: 120px;

    
}

#titleButtonLanding{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 4px;
}

.itemLanding1{
    font-family: ethnocentric;
    font-weight: bold;
    text-decoration: none;
    
    color: white;
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 30px;
    border: none;
    margin: 10px;
    margin-top: 80px;
    margin-right: 30px;
    cursor: pointer;
    box-shadow: white 0px 1px 5px;
    
}

.Landing{
    
    text-decoration: none;
    color: black;
}

#buttonLandingSing{
    display: flex;
    float:right;
    color:white;
    border: solid 1px white;
    margin-right: 20px;
    margin-top: 40px;
}

#boxButtonLanding{
    margin-right: 80px;
    
}
