#logo{
    height: 70px;
}

#appBar{
    background-color: #ffffff;
   
    
    
}

#guest{
    padding: 20px;
    color: #0184a9;
}

#button{
    color: #0184a9;
    border: solid 1px #0184a9;
    float: left;
    margin-left: 10px;
}

#cart{
    font-size: 30px;
    color: #0184a9
}

#cartButton{
    padding: 20px;
    float: left;
}



