#mainPaginado{
    margin: 20px;
}

#buttonPage{
    font-weight: bold;
    color: white;
    height: 28px;
    width: 28px;
    background-color:#0184a9;
    border-radius: 100px;
    border: none;
    margin: 10px;
    cursor: pointer;
   
   
    
}